---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <style>
    html, body {
      height: 100%;
    }
  </style>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <style>
      main {
        height: 58%;
      }
    </style>
		<Header />
		<main>
			<h1>Brayden Arthur</h1>
      <p>
				I'm a software developer with a background in full stack development, dev ops, and systems engineering
			</p>
			<p>
				I'll occasionally update this with additional information or projects as they come up and I remember
			</p>
			<p>Feel free to reach out with cool projects, or anything else neat</p>
		</main>
		<Footer />
	</body>
</html>
